nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:140px;
    float:left;
    padding:5px; 
    font-size:20px;
    color:black;
}
section {
    width:1715px;
    height:290px;
    float:left;
    padding:10px; 
    background-color:#DFDFDF;
}
footer {
   
    color:white;
    text-align:center;
    padding:5px; 
    font-size: 28px;
	
}


a:hover {
color:black;
font-size:25px;
font-family:Ravie;
}

a{
	color:black;
}

details {
	color:white;
	font-size:25px;
	
}
